aiofiles==24.1.0
aioredis==2.0.1
async-timeout==4.0.3
asyncio==3.4.3
beautifulsoup4==4.12.3
black==24.4.2
blinker==1.8.2
cachetools==5.3.3
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
deprecation==2.1.0
Flask==3.0.3
greenlet==3.0.3
grpcio==1.64.1
h11==0.14.0
h2==4.1.0
hpack==4.0.0
Hypercorn==0.17.3
hyperframe==6.0.1
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
mypy-extensions==1.0.0
numpy==2.0.0
packaging==24.1
pandas==2.2.2
pathspec==0.12.1
platformdirs==4.2.2
priority==2.0.0
protobuf==4.25.3
psycopg2==2.9.9
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
Quart==0.19.6
redis==5.0.7
requests==2.32.3
setuptools==70.3.0
six==1.16.0
soupsieve==2.5
SQLAlchemy==2.0.31
ta==0.11.0
tinkoff==0.1.1
tinkoff-investments==0.2.0b103
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
Werkzeug==3.0.3
wheel==0.43.0
wsproto==1.2.0
