.chart-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.navbar button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.navbar button:hover {
    background-color: #0056b3;
}

.company-header {
    width: 80%; /* Увеличенная ширина */
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.company-info {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Центрирование по вертикали */
}

.company-name {
    font-size: 2em;
    margin: 0;
}

.company-sector {
    margin-top: 10px;
}

.company-logo {
    width: 100px; /* Увеличенный размер логотипа */
    height: 100px; /* Увеличенный размер логотипа */
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.price-section {
    width: 80%; /* Совпадающая ширина */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.price-info {
    display: flex;
    align-items: center;
}

.price-display {
    font-size: 2em;
    margin-right: 20px;
}

.price-up {
    animation: price-up-animation 1s;
    color: green;
}

.price-down {
    animation: price-down-animation 1s;
    color: red;
}

@keyframes price-up-animation {
    0% { background-color: rgba(0, 255, 0, 0.5); }
    100% { background-color: transparent; }
}

@keyframes price-down-animation {
    0% { background-color: rgba(255, 0, 0, 0.5); }
    100% { background-color: transparent; }
}

.chart-container {
    width: 80%; /* Совпадающая ширина */
    height: 400px;
    margin-bottom: 20px;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #e9ecef;
}

.navbar button {
    background-color: transparent;
    color: #343a40;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0;
    border-bottom: 2px solid transparent;
}

.navbar button:hover {
    color: #007bff;
    border-bottom: 2px solid #007bff;
}

.navbar button.active {
    color: #007bff;
    border-bottom: 2px solid #007bff;
}
