/* Подключение шрифта */
@font-face {
    font-family: 'MyCustomFont';
    src:
         url('/fonts/ofont.ru_Nunito.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'MyCustomFont', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'MyCustomFont', sans-serif;
}
