.top-list {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.top-section {
    width: 30%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.top-section h2 {
    margin-bottom: 20px;
    text-align: center;
}

.top-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-section .list-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer; /* Добавляем курсор указателя */
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.top-section .list-item:hover {
    background-color: #f1f1f1; /* Добавляем эффект при наведении */
}

.company-logo1 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.company-info {
    flex: 1;
}

.percent-change {
    font-weight: bold;
}

.positive {
    color: green;
}

.negative {
    color: red;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

.top-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.top-sections {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.top-section {
    width: 30%;
    margin-bottom: 20px;
}

.search-section {
    width: 100%;
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

.list-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
}

.company-logo1 {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.company-info {
    display: flex;
    flex-direction: column;
}

.percent-change {
    font-size: 14px;
}

.percent-change.positive {
    color: green;
}

.percent-change.negative {
    color: red;
}

.search-section input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
