.top-list {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.top-section {
    width: 30%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.top-section h2 {
    margin-bottom: 20px;
}

.top-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
}

.company-logo1 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.company-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.percent-change {
    font-weight: bold;
}

.positive {
    color: green;
}

.negative {
    color: red;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}
